In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
movies.merge(credits,on='title')

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [8]:
movies.merge(credits,on='title').shape

(4809, 23)

In [9]:
movies = movies.merge(credits,on='title')

In [10]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [12]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [13]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [14]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [15]:
movies.dropna(inplace=True)

In [16]:
movies.duplicated().sum()

0

In [17]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [18]:
#[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
#['Action','Adventure','Fantasy','SciFi']

In [19]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [21]:
movies['genres'] = movies['genres'].apply(convert)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
movies['keywords'] = movies['keywords'].apply(convert)

In [24]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [33]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break     
    return L

In [34]:
movies['cast'] = movies['cast'].apply(convert3)

In [35]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [49]:
import ast

def fetch_directory(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [51]:
movies['crew'] = movies['crew'].apply(fetch_directory)

In [52]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [57]:
movies['overview'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.']

In [59]:
movies['overview'] = movies['overview'].apply(lambda x: [word for sublist in x for word in sublist.split()] if isinstance(x, list) else x.split())

In [60]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [61]:
movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4804                       [Action, Crime, Thriller]
4805                               [Comedy, Romance]
4806               [Comedy, Drama, Romance, TVMovie]
4807                                              []
4808                                   [Documentary]
Name: genres, Length: 4806, dtype: object

In [62]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [63]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [64]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [65]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [66]:
new_df = movies[['movie_id','title','tags']]

In [72]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

/var/folders/ff/810zq61d0c18dkxn6z9_g9n80000gn/T/ipykernel_63502/3089450492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))

In [73]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,I n t h e 2 2 n d ...
1,285,Pirates of the Caribbean: At World's End,C a p t a i n B a r b ...
2,206647,Spectre,A c r y p t i c m e ...
3,49026,The Dark Knight Rises,F o l l o w i n g t h ...
4,49529,John Carter,J o h n C a r t e r ...

In [75]:
new_df['tags'][0]

'I   n       t   h   e       2   2   n   d       c   e   n   t   u   r   y   ,       a       p   a   r   a   p   l   e   g   i   c       M   a   r   i   n   e       i   s       d   i   s   p   a   t   c   h   e   d       t   o       t   h   e       m   o   o   n       P   a   n   d   o   r   a       o   n       a       u   n   i   q   u   e       m   i   s   s   i   o   n   ,       b   u   t       b   e   c   o   m   e   s       t   o   r   n       b   e   t   w   e   e   n       f   o   l   l   o   w   i   n   g       o   r   d   e   r   s       a   n   d       p   r   o   t   e   c   t   i   n   g       a   n       a   l   i   e   n       c   i   v   i   l   i   z   a   t   i   o   n   .       A   c   t   i   o   n       A   d   v   e   n   t   u   r   e       F   a   n   t   a   s   y       S   c   i   e   n   c   e   F   i   c   t   i   o   n       c   u   l   t   u   r   e   c   l   a   s   h       f   u   t   u   r   e       s   p   a   c   e   w   a   r       s   p   a   c   e   c   o   l   o   n   y       s   o   c   i   e   t   y       s   p   a   c   e   t   r   a   v   e   l       f   u   t   u   r   i   s   t   i   c       r   o   m   a   n   c   e       s   p   a   c   e       a   l   i   e   n       t   r   i   b   e       a   l   i   e   n   p   l   a   n   e   t       c   g   i       m   a   r   i   n   e       s   o   l   d   i   e   r       b   a   t   t   l   e       l   o   v   e   a   f   f   a   i   r       a   n   t   i   w   a   r       p   o   w   e   r   r   e   l   a   t   i   o   n   s       m   i   n   d   a   n   d   s   o   u   l       3   d       S   a   m   W   o   r   t   h   i   n   g   t   o   n       Z   o   e   S   a   l   d   a   n   a       S   i   g   o   u   r   n   e   y   W   e   a   v   e   r       J   a   m   e   s   C   a   m   e   r   o   n'

In [76]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

/var/folders/ff/810zq61d0c18dkxn6z9_g9n80000gn/T/ipykernel_63502/3214958533.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [77]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,i n t h e 2 2 n d ...
1,285,Pirates of the Caribbean: At World's End,c a p t a i n b a r b ...
2,206647,Spectre,a c r y p t i c m e ...
3,49026,The Dark Knight Rises,f o l l o w i n g t h ...
4,49529,John Carter,j o h n c a r t e r ...

In [99]:
import nltk

In [100]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [101]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    return" ".join(y)

In [107]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/ff/810zq61d0c18dkxn6z9_g9n80000gn/T/ipykernel_63502/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [81]:
new_df['tags'][0]

'i   n       t   h   e       2   2   n   d       c   e   n   t   u   r   y   ,       a       p   a   r   a   p   l   e   g   i   c       m   a   r   i   n   e       i   s       d   i   s   p   a   t   c   h   e   d       t   o       t   h   e       m   o   o   n       p   a   n   d   o   r   a       o   n       a       u   n   i   q   u   e       m   i   s   s   i   o   n   ,       b   u   t       b   e   c   o   m   e   s       t   o   r   n       b   e   t   w   e   e   n       f   o   l   l   o   w   i   n   g       o   r   d   e   r   s       a   n   d       p   r   o   t   e   c   t   i   n   g       a   n       a   l   i   e   n       c   i   v   i   l   i   z   a   t   i   o   n   .       a   c   t   i   o   n       a   d   v   e   n   t   u   r   e       f   a   n   t   a   s   y       s   c   i   e   n   c   e   f   i   c   t   i   o   n       c   u   l   t   u   r   e   c   l   a   s   h       f   u   t   u   r   e       s   p   a   c   e   w   a   r       s   p   a   c   e   c   o   l   o   n   y       s   o   c   i   e   t   y       s   p   a   c   e   t   r   a   v   e   l       f   u   t   u   r   i   s   t   i   c       r   o   m   a   n   c   e       s   p   a   c   e       a   l   i   e   n       t   r   i   b   e       a   l   i   e   n   p   l   a   n   e   t       c   g   i       m   a   r   i   n   e       s   o   l   d   i   e   r       b   a   t   t   l   e       l   o   v   e   a   f   f   a   i   r       a   n   t   i   w   a   r       p   o   w   e   r   r   e   l   a   t   i   o   n   s       m   i   n   d   a   n   d   s   o   u   l       3   d       s   a   m   w   o   r   t   h   i   n   g   t   o   n       z   o   e   s   a   l   d   a   n   a       s   i   g   o   u   r   n   e   y   w   e   a   v   e   r       j   a   m   e   s   c   a   m   e   r   o   n'

In [82]:
new_df['tags'][1]

"c   a   p   t   a   i   n       b   a   r   b   o   s   s   a   ,       l   o   n   g       b   e   l   i   e   v   e   d       t   o       b   e       d   e   a   d   ,       h   a   s       c   o   m   e       b   a   c   k       t   o       l   i   f   e       a   n   d       i   s       h   e   a   d   e   d       t   o       t   h   e       e   d   g   e       o   f       t   h   e       e   a   r   t   h       w   i   t   h       w   i   l   l       t   u   r   n   e   r       a   n   d       e   l   i   z   a   b   e   t   h       s   w   a   n   n   .       b   u   t       n   o   t   h   i   n   g       i   s       q   u   i   t   e       a   s       i   t       s   e   e   m   s   .       a   d   v   e   n   t   u   r   e       f   a   n   t   a   s   y       a   c   t   i   o   n       o   c   e   a   n       d   r   u   g   a   b   u   s   e       e   x   o   t   i   c   i   s   l   a   n   d       e   a   s   t   i   n   d   i   a   t   r   a   d   i   n   g   c   o   m   p   a   n   y       l   o   v   e   o   f   o   n   e   '   s   l   i   f   e       t   r   a   i   t   o   r       s   h   i   p   w   r   e   c   k       s   t   r   o   n   g   w   o   m   a   n       s   h   i   p       a   l   l   i   a   n   c   e       c   a   l   y   p   s   o       a   f   t   e   r   l   i   f   e       f   i   g   h   t   e   r       p   i   r   a   t   e       s   w   a   s   h   b   u   c   k   l   e   r       a   f   t   e   r   c   r   e   d   i   t   s   s   t   i   n   g   e   r       j   o   h   n   n   y   d   e   p   p       o   r   l   a   n   d   o   b   l   o   o   m       k   e   i   r   a   k   n   i   g   h   t   l   e   y       g   o   r   e   v   e   r   b   i   n   s   k   i"

In [83]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [86]:
print(new_df['tags'].head())

0    i   n       t   h   e       2   2   n   d     ...
1    c   a   p   t   a   i   n       b   a   r   b ...
2    a       c   r   y   p   t   i   c       m   e ...
3    f   o   l   l   o   w   i   n   g       t   h ...
4    j   o   h   n       c   a   r   t   e   r     ...
Name: tags, dtype: object

In [87]:
from sklearn.feature_extraction.text import ENGLISH_STOP_WORDS
print(ENGLISH_STOP_WORDS)

frozenset({'her', 'none', 'de', 'although', 'anyhow', 'somewhere', 'have', 'your', 'once', 'more', 'itself', 'would', 'thus', 'namely', 'along', 'than', 'become', 'five', 'beside', 'found', 'off', 'do', 'too', 'several', 'hasnt', 'me', 'wherever', 'every', 'each', 'seemed', 'eleven', 'last', 'but', 'others', 'themselves', 'was', 'has', 'below', 'ourselves', 'top', 'must', 'any', 'fifteen', 'sometime', 'only', 'if', 'throughout', 'before', 'fire', 'some', 'fifty', 'many', 'seeming', 'thin', 'one', 'empty', 'con', 'our', 'alone', 'against', 'bill', 'yet', 'between', 'be', 'show', 'forty', 'about', 'either', 'a', 'four', 'please', 'towards', 'he', 'everywhere', 'well', 'anything', 'hundred', 'over', 'on', 'amongst', 'them', 'less', 'this', 'else', 'co', 'much', 'what', 'thence', 'go', 'afterwards', 'keep', 'to', 'someone', 'all', 'never', 'eg', 'together', 'rather', 'enough', 'almost', 'amoungst', 'where', 'out', 'should', 'via', 'yours', 'that', 'through', 'fill', 'into', 'whereas', 'we', 'detail', 'whose', 'everything', 'both', 'find', 'front', 'thereby', 'per', 'noone', 'herself', 'sincere', 'otherwise', 'becoming', 'it', 'beforehand', 'back', 'after', 'you', 'latterly', 'take', 'here', 'whither', 'so', 'hers', 'system', 'us', 'first', 'am', 'herein', 'could', 'part', 'side', 'same', 'next', 'as', 'least', 'everyone', 'the', 'ie', 'were', 'their', 'who', 'in', 'became', 'sixty', 'above', 'yourself', 'serious', 'up', 'always', 'nor', 'whole', 'further', 'even', 'also', 'nothing', 'thereafter', 'ours', 'is', 'when', 'other', 'can', 'these', 'those', 'interest', 'or', 'mill', 'bottom', 'myself', 'anyway', 'again', 'of', 'toward', 'cannot', 'inc', 'give', 'whoever', 'nevertheless', 'move', 'though', 'not', 'are', 'yourselves', 'might', 'except', 'whatever', 'therein', 'down', 'under', 'becomes', 'hence', 'mostly', 'during', 'something', 'done', 'seem', 'see', 'therefore', 'for', 'had', 'thereupon', 'across', 'there', 'hereafter', 'because', 'two', 'get', 'name', 'while', 'thru', 'whom', 'somehow', 'full', 'three', 'whereafter', 'third', 'however', 'whence', 'six', 'ever', 'nine', 'due', 'such', 'how', 'very', 'ltd', 'sometimes', 'beyond', 'un', 'by', 'often', 'ten', 'among', 'describe', 'cry', 'without', 'nobody', 'within', 'since', 'most', 'elsewhere', 'seems', 'which', 'indeed', 'hereby', 'anywhere', 'himself', 'besides', 'still', 'now', 're', 'whenever', 'why', 'anyone', 'from', 'she', 'wherein', 'eight', 'i', 'amount', 'my', 'upon', 'onto', 'formerly', 'no', 'nowhere', 'being', 'few', 'will', 'thick', 'behind', 'moreover', 'another', 'mine', 'then', 'twenty', 'at', 'whereupon', 'cant', 'perhaps', 'latter', 'etc', 'they', 'twelve', 'been', 'couldnt', 'call', 'meanwhile', 'whether', 'its', 'his', 'neither', 'until', 'own', 'hereupon', 'around', 'former', 'an', 'made', 'him', 'may', 'and', 'with', 'whereby', 'already', 'put'})

In [88]:
custom_stop_words = set(['list', 'of', 'custom', 'stop', 'words'])
cv = CountVectorizer(max_features=5000, stop_words=custom_stop_words)

In [89]:
cv = CountVectorizer(max_features=5000, stop_words='english', token_pattern=r'\b\w+\b')

In [94]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [95]:
vectors

array([[0, 0, 2, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 2, ..., 0, 0, 0]])

In [96]:
vectors[0]

array([ 0,  0,  2,  1,  0,  0,  0,  0,  0,  0,  0,  5, 22, 12, 44,  7,  6,
        5,  1,  0, 18, 10, 37, 29, 11,  1, 26, 22, 29, 13,  5,  7,  0,  5,
        2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  0,  0,  0,  0])

In [98]:
len(cv.get_features_names())

AttributeError: 'CountVectorizer' object has no attribute 'get_features_names'

In [80]:
pip install nltk

Requirement already satisfied: nltk in /Users/rutujaahire/anaconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Users/rutujaahire/anaconda3/lib/python3.11/site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in /Users/rutujaahire/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/rutujaahire/anaconda3/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/rutujaahire/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)
Note: you may need to restart the kernel to use updated packages.

In [105]:
stem(' i   n       t   h   e       2   2   n   d       c   e   n   t   u   r   y   ,       a       p   a   r   a   p   l   e   g   i   c       m   a   r   i   n   e       i   s       d   i   s   p   a   t   c   h   e   d       t   o       t   h   e       m   o   o   n       p   a   n   d   o   r   a       o   n       a       u   n   i   q   u   e       m   i   s   s   i   o   n   ,       b   u   t       b   e   c   o   m   e   s       t   o   r   n       b   e   t   w   e   e   n       f   o   l   l   o   w   i   n   g       o   r   d   e   r   s       a   n   d       p   r   o   t   e   c   t   i   n   g       a   n       a   l   i   e   n       c   i   v   i   l   i   z   a   t   i   o   n   .       a   c   t   i   o   n       a   d   v   e   n   t   u   r   e       f   a   n   t   a   s   y       s   c   i   e   n   c   e   f   i   c   t   i   o   n       c   u   l   t   u   r   e   c   l   a   s   h       f   u   t   u   r   e       s   p   a   c   e   w   a   r       s   p   a   c   e   c   o   l   o   n   y       s   o   c   i   e   t   y       s   p   a   c   e   t   r   a   v   e   l       f   u   t   u   r   i   s   t   i   c       r   o   m   a   n   c   e       s   p   a   c   e       a   l   i   e   n       t   r   i   b   e       a   l   i   e   n   p   l   a   n   e   t       c   g   i       m   a   r   i   n   e       s   o   l   d   i   e   r       b   a   t   t   l   e       l   o   v   e   a   f   f   a   i   r       a   n   t   i   w   a   r       p   o   w   e   r   r   e   l   a   t   i   o   n   s       m   i   n   d   a   n   d   s   o   u   l       3   d       s   a   m   w   o   r   t   h   i   n   g   t   o   n       z   o   e   s   a   l   d   a   n   a       s   i   g   o   u   r   n   e   y   w   e   a   v   e   r       j   a   m   e   s   c   a   m   e   r   o   n')

'i n t h e 2 2 n d c e n t u r y , a p a r a p l e g i c m a r i n e i s d i s p a t c h e d t o t h e m o o n p a n d o r a o n a u n i q u e m i s s i o n , b u t b e c o m e s t o r n b e t w e e n f o l l o w i n g o r d e r s a n d p r o t e c t i n g a n a l i e n c i v i l i z a t i o n . a c t i o n a d v e n t u r e f a n t a s y s c i e n c e f i c t i o n c u l t u r e c l a s h f u t u r e s p a c e w a r s p a c e c o l o n y s o c i e t y s p a c e t r a v e l f u t u r i s t i c r o m a n c e s p a c e a l i e n t r i b e a l i e n p l a n e t c g i m a r i n e s o l d i e r b a t t l e l o v e a f f a i r a n t i w a r p o w e r r e l a t i o n s m i n d a n d s o u l 3 d s a m w o r t h i n g t o n z o e s a l d a n a s i g o u r n e y w e a v e r j a m e s c a m e r o n'

In [108]:
from sklearn.metrics.pairwise import cosine_similarity

In [109]:
similarity = cosine_similarity(vectors)

In [122]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(4230, 0.9901853518270349),
 (658, 0.987989939483445),
 (548, 0.9862895966446502),
 (26, 0.9861769772332415),
 (2241, 0.9861389073754193)]

In [133]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [135]:
recommend('Batman Begins')

Hellboy
Summer Storm
Ultraviolet
Blue Valentine
Post Grad

In [137]:
new_df.iloc[1216].title

'Aliens vs Predator: Requiem'

In [138]:
import pickle

In [139]:
pickle.dump(new_df,open('movies.pkl','wb'))

In [141]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [143]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [144]:
pickle.dump(similarity,open('similarity.pkl','wb'))